body {
    background-color: #000;
    color: #fff;
}

.things { }

.thing {
  display: inline-block;
  width:100px;
  border:1px solid #ccc;
  padding:10px;
  margin-bottom: 10px;
  
  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
